body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.project {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    /* animation douce */
}

.project:hover {
    transform: translateY(-5px);
    /* lève légèrement la carte */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* ombre plus prononcée */
}

a {
    color: #0077ff;
    text-decoration: none;
}